@charset "UTF-8";

body{
    background-color: black;
}

header ul li button{
    color: white;
    background: transparent;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: var(--body-font-size, 16px);
}

li image.arrow{
    width: 8px;
}

header ul{

    float: left;
    display: inline;

}

header ul li{
    float: right;
    padding-bottom: 100px;

}

ul img.logo-branca{
    width: 32px;
    margin-right: 16px;
}

input.pesquisa{
    position: relative;
    right: -27px;
    box-sizing: border-box;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    background-color: rgba(46,55,74,.82) !important;
    border: solid 1px;
    border-color: #57606a;
    border-radius: 8px;
    width: 240px;
    height: 38px;
    color: #ffffff;
}

svg.mr-1-header-search-key-slash{
    position: relative;
    top: 4px;
    margin-right: 8px;
}

div.searcher{
    float: right;
    display: flex !important;
    align-items: center;
    padding-top: 10px;
}

div.box-search{
    margin-right: 16px;
}

a.cadastrar{
    display: inline-block;
    position: relative;
    margin-right: 16px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    background: transparent;
}