@charset "UTF-8";

body{
    background-image: url("../images/hero-bg.webp");
    background-position-x: center;
}

div.menu{
    display: flex;
    position: relative;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

div.logo-invertida{
    display: flex;
    width: auto;
    align-items: center;
}

header ul li button{
    color: white;
    border: 0px;
    background: transparent;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: var(--body-font-size, 16px);
}

li image.arrow{
    width: 8px;
}

header ul{
    padding: 0px;
    float: left;
    display: inline;

}

header ul li{
    float: right;

}

img.logo-branca{
    width: 32px;
    margin-right: 16px;
}

input.pesquisa{
    position: relative;
    right: -27px;
    box-sizing: border-box;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    background-color: rgba(46,55,74,.82) !important;
    border: solid 1px;
    border-color: #57606a;
    border-radius: 8px;
    width: 240px;
    height: 38px;
    color: #ffffff;
}

svg.mr-1-header-search-key-slash{
    position: relative;
    top: 4px;
    margin-right: 8px;
}

div.searcher{
    display: flex !important;
    align-items: center;
    position: relative;
    left: 403px;
}

div.box-search{
    margin-right: 16px;
}

a.cadastrar{
    display: inline-block;
    position: relative;
    margin-right: 16px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    background: transparent;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.cadastrar:hover{
    color: #d0d7de;
}

a.entrar{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    padding: 5px 9px 5px 9px;
    white-space: nowrap;
    border: solid 1px;
    border-color: #ffffff;
    border-radius: 8px;
    background: transparent;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

a.entrar:hover{
    color: #d0d7de;
    border-color: #d0d7de;
}